{{addToPages()}}

<div class="pivotal">
   <input
        type="text"
        name="new_note"
        placeholder="Enter Note...."
        class="note-input"
        [(ngModel)] = "new_note" #newNote
    />
    <button type="submit" (click)="addNote(newNote.value)" class="note-submit"> ADD </button>
    <div class="elements_perpage">
        <label>Elements per page:</label>
        <select [(ngModel)]="elements_perpage" (ngModelChange)="gotoPage(0)">
            <option [ngValue]="null" selected disabled>Select Elements per page</option>
            <option *ngFor="let i of per_page_list;" value="{{i}}"> {{ i }}</option>
        </select>
    </div>
    <div *ngFor="let note of getActiveNotes(); let i = index;" class="note {{ (note.completed ? 'done' : '') }}">
        <div class="content" (click)="toggleDone(i)">{{ note.title }}</div>
        <button style="margin-right: 16px;" class="edit" routerLink = '/update/{{note.id}}'>Edit</button>
        <button style="margin-right: 16px;" class="delete" (click)="deleteNote(note)">Remove</button> 
    </div>
    <div class="table">
        <table class = "center">
            <tr>
                <td><span class = "dot" *ngFor="let pno of pages; let i = index;" (click)="gotoPage(i)">{{ pno }}</span></td>
        </table>
    </div>
</div>